body {
    margin: 0;
  }
  
  @media (max-width: 65vh) {
    #container {
      grid-template-rows: 20vmax 60vmax 20vmax;
    }
  }
  
  #container {
    display: grid;
    grid-template-columns: auto 60vmin auto;
    grid-template-rows: 20vh 60vh 20vh;
    grid-template-areas:
      "side-l main side-r"
      "side-l main side-r"
      "side-l main side-r";
  }
  
  .main {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }
  
  #clock {
    width: 70vmin;
    height: 70vmin;
  }
  
  i {
    top: 1.5vmin;
    left: 1.5vmin;
    font-size: 2em;
    position: absolute;
  }